# Q1)Explain the key features of python that makes it a popular choice for programming. 
ANS-The key features of python that makes it a popular choice for programming are:
>>Easy to learn,read and to use
>>Free and open source
>>A lot of libraries
>>Lot of databases
>>Huge active community
>>Scalability and Versatility

# Q2)Describe the role of predefined keywords in Python and provide examples if how they are used in a programm.
ANS-The role of predefined keywords in Python is to perform some kind of specific tasks like defining the structure,making the code logical etc.
They are also a part of the syntax of the programme.Example:-

In [2]:
name = input("please enter ur name:")    #here input is a predefined keyword

please enter ur name: HIMADRI

In [5]:
l=[1,2,"skills"]               #here for is a predefined keyword
for i in l:
    print(i)

1
2
skills

In [8]:
not True                #True for is a predefined keyword

False

# Q3)Compare and constract mutable and immutable objects in Python with examples.
ANS-The values that can be changed after they are created are called as mutable objects.Example:-

In [20]:
l_cont = [4,29,300,"Dog",True,8.3,2+3J]
l_cont                                     #orginal content

[4, 29, 300, 'Dog', True, 8.3, (2+3j)]

In [22]:
l_cont[3]="flower"
l_cont

[4, 29, 300, 'flower', True, 8.3, (2+3j)]

In [23]:
l_cont[0]=150
l_cont[0]

150

In [24]:
l_cont                                   #updated content

[150, 29, 300, 'flower', True, 8.3, (2+3j)]

In [ ]:
###lIST,DICTIONARY are example of mutable objects.

The values that cannot be changed after they are created are called as immutable objects.Example:-

In [25]:
word = "flowers"
word

'flowers'

In [27]:
word[5]="p"                         #in string we cannot change the characters after once being written

TypeError: 'str' object does not support item assignment

In [28]:
###STRING,TUPLES are example of immutable objects.

# Q4)Discuss the different types of operators in Python and provide examples of how they are used
ANS-Different types of operators in Python are:
>>Arithmatics operators
>>Comparison operators
>>Logical operators
>>Bitwise operators
>>Assignment operators
>>Membership operators
>>Identify operators

### arithmatic operators

In [127]:
a=45
b=39
a+b      #addition

84

In [51]:
a-b       #substraction

6

In [52]:
a*b       #multiplication

1755

In [53]:
a/b       #division

1.1538461538461537

In [54]:
a%b         #modulus

6

### comparison operators

In [55]:
a=38
b=2
a**2         #exponention

1444

In [129]:
6==6                 #equal to

True

In [45]:
4!=6                #NOT equal to

True

In [46]:
55>38              #greater than

True

In [47]:
9<77              #less than

True

In [48]:
89>=90              #greater than or equal to

False

In [49]:
7<=50             #less than or equal to

True

### logical operator

In [63]:
#and
True and True

True

In [57]:
True and False

False

In [60]:
False and True

False

In [61]:
False and False

False

In [62]:
#or
True or True

True

In [64]:
True or False

True

In [65]:
False or True

True

In [66]:
False or False

False

### bitwise operator

In [82]:
#bitwise and
45&24               #bin(45)=101101 and bin(24)=11000 gives 1000 which is bin(8)

8

In [83]:
#bitwise or
14|14          #bin(14)=1110 or bin(14)=1110 gives 1110 which is bin(14)

14

In [84]:
#negotion
~67

-68

In [85]:
#XOR
6^8    #bin(6)=110 ^ bin(8)=1000 gives 1110 which is bin(14)

14

In [130]:
#left shift
36<<5      #bin(36)=100100,bin(5)=101 by filling 0's on the right then we get 10010000000

1152

In [131]:
#Right shift operator
850>>5       #bin(850)=1101010010,bin(5)=101 by removing 0's on the left then we get 11010

26

### assignment operators

In [137]:
b=164               #assignment

In [133]:
b=79
b+=543               #additional assignment
b

622

In [134]:
n=79
n-=43                     #substraction assignment
n

36

In [135]:
b=9
b*=43                   #multiplication assignment
b

387

In [136]:
a=79
a/=543                     #division assignment
a

0.14548802946593

### Membership operators

In [138]:
a="Crackers"
"ker" in a        #in operator

True

In [123]:
"s" not in a        #not in operator

False

### Identify operators

In [139]:
a=26
b=300                   #is operator
a is b

False

In [126]:
a=2758
b=a                     #is not operator
a is not b

False

# Q5)Explain the concept of type casting in Python with examples.
ANS-Type Casting >>> The process of converting variable's data type to another data type using function like str(),float() or int().

In [ ]:
#Typecasting are of two types
>> implicit 
>> explicit

## explicit typecasting  
>> convert datatype using inbuilt function such as str,int,float,bool

### Typecasting>>> float to int

In [161]:
a=82.697
type(a)

float

In [162]:
float_value=int(a)
type(float_value)

int

In [163]:
print(float_value)

82

### Typecasting>>> int to float

In [164]:
a=265
type(a)

int

In [165]:
value=float(a)
value

265.0

In [166]:
print(value)

265.0

### Typecasting>>> str to int

In [183]:
a="20"
type(a)

str

In [184]:
type(int(a))

int

In [185]:
print(a)

20

### Typecasting>>> str to float

In [167]:
a="6.48"          
type(a)

str

In [168]:
b=float(a)
type(b)

float

In [169]:
print(b)

6.48

In [ ]:
#This example is executed as the orginal string has numerial value inside it 
#But if the orginal string would be having characters then in that case string cannot be converted into float and int.

>>> case:
string cannot be converted into float nor into int

In [170]:
a="Tina"         #a="Tina" as here "Tina" is character cannot be converted to float or to int
type(a)

str

In [172]:
r=type(float(a))
r

ValueError: could not convert string to float: 'Tina'

In [173]:
c=type(int(a))
c

ValueError: invalid literal for int() with base 10: 'Tina'

### Typecasting>>> int to str

In [177]:
a=5754
type(a)

int

In [178]:
c=str(a)
c

'5754'

### boolean typecasting

In [190]:
bool(1655855)

True

In [192]:
bool(-1)

True

In [191]:
bool("soft")

True

In [189]:
bool(0)

False

In [ ]:
#every value other than '0' will be treated as True

In [ ]:
>>> case:
bool("") #empty string will always be treated as false

## implicit typecasting 
>> automatically understand the datatype of the data it is int,float,str,etc.

In [193]:
56+5.87

61.87

# Q6)How do conditional statements work in Python?Ilustrate with examples.
ANS- To illustrate the working of conditional statements in Python ,let us dicuss it's each types with example!

### if statement

In [200]:
n=input("please enter a number:")
num=int(n)
if num %2==0:
    print("The number is even.")

please enter number: 97542

The number is even.

### if-else statement

In [196]:
n = input("please enter ur age:")
age=int(n)
if age>=18:
    print("you are eligible to vote!")
else:
    print("minority")

please enter ur age: 5

minority

### if elif else statement

In [201]:
num=input("please enter ur mark:")
score=float(num)
if score>=90:
    print("grade A")
elif(80<=score<90):
    print("grade B")
elif(70<=score<80):
    print("grade C")
elif(60<=score<70):
    print("grade D")
elif(50<=score<60):
    print("grade E") 
else:
    print("grade F")

please enter ur mark: 65.76

grade D

### nested if else statement

In [202]:
x=1
y=6
if x>5:
    if y>5:
     print("both x and y is greater than 5") 
    else:
     print("x is greater than 5 but y is less than 5") 
else: 
     print("x is not greater than 5")

x is not greater than 5

# Q7)Describe the different types of loops in Python and their use cases with examples
ANS-There are two types of loops in Python:
>>>while loop 
>>> for loop

### while loop

In [207]:
num=input("please enter a number:")
n=int(num)           
i=1                      
while i<n:
      print(i)
      i+=1  
      if i==8:
          break
          print("updated i is:",i)
else:
    print("The program had executed successfully")

please enter a number: 45

1
2
3
4
5
6
7

In [209]:
n=7                   
i=1                      
while i<n:                 
      print(i)
      i+=1  
      if i==3:                 
          continue 
      print("new i is",i)    
else:
    print("program executed successfully!")

1
new i is 2
2
3
new i is 4
4
new i is 5
5
new i is 6
6
new i is 7
program executed successfully!

### for loop

In [208]:
l=[87,22.88,"letter","Skills"]
for i in l:
    print(i)

87
22.88
letter
Skills

In [214]:
for i in range(30,80,2):
    print(i,end=" ")

30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78